    </div>

    <div id="brdfooter" class="block">
      <div class="box">
        <div class="inbox">
          <p>GameSense <%= year %></p>
          <div class="clearer"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="end-box"></div>
</div>
<script src="/js/main.js"></script>
</body>
</html>
